.Menu_wrapper {
    display: flex;
    flex: 0 0 4em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #354052;
}

.Menu_list {
    list-style: none;
    padding: 0;
}

.Menu_list__item:first-child {
    margin-top: 0;
}

.Menu_list__item {
    margin-top: 3em;
}

.Menu_list__item__link {
    color: #9E9E9E;
    font-size: 1.8em;
}

.Menu_list__item__link:hover {
    color: #FAFAFA;
}

.Menu_list__item__link_active {
    color: #FAFAFA;
}
